.container {
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #1abc9c;
  color: black;
}

.table tr:hover {
  background-color: #1abc9c;
  color: black;
}

.noHistory {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-top: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.downloadButton {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.downloadButton:hover {
  background-color: #45a049;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #34495e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #1abc9c;
}

.pagination .activePage {
  background-color: #1abc9c;
  font-weight: bold;
}
