.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #293155;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 100vh;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar button {
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #34495e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: left;
  width: 80%;
}

.sidebar button:hover {
  background-color: #1abc9c;
  transform: translateX(5px);
}

.sidebar button:active {
  background-color: #16a085;
  transform: translateX(0);
}

.sidebar button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(26, 188, 156, 0.5);
}

.sidebar button:last-child {
  margin-top: auto;
  background-color: #e74c3c;
}

.sidebar button:last-child:hover {
  background-color: #c0392b;
}

.sidebar button:last-child:active {
  background-color: #e74c3c;
}
